.DS_STORE
**/.vscode/

ParkingManager/.cache
ParkingManager/.qt
ParkingManager/.rcc
ParkingManager/CMakeFiles
ParkingManager/SensorFlow.app
ParkingManager/cmake_install.cmake
ParkingManager/CMakeCache.txt
ParkingManager/CMakeLists.txt
ParkingManager/compile_commands.json
ParkingManager/Makefile
ParkingManager/.qmake.stash
ParkingManager/**/*.o
ParkingManager/**/moc_*
ParkingManager/ParkingManager
ParkingManager/build

build-*